* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-contain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border: 1px solid black;
}
input{
    padding: 5px;
}
.submit{
    border-color: chartreuse;
    background-color: chartreuse;
}